{% extends 'base/base.html' %}

{% block 'title' %}
Sign Up
{% endblock %}

{% block 'body' %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                {% include 'component/message.html' %}
                <form method="post">
                     {% csrf_token %}
                    <div class="input-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="input-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email">
                    </div>
                    <div class="input-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password1">
                    </div>
                    <div class="input-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" name="password2">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}